		<h1><p class="text-center">Course Registration</p></h1>
		<br/>
		<br/>
		<p class="text-left lead">
			Welcome to St. David’s Course Registration for the 2015-2016 school year!
			Students in grades 5-12 are requested to register for their courses for next year, by 
		</p>
		<br/>
		<br/>
		<h1><p class="text-center">Friday, April 4th</p></h1>
		<br/>
		<br/>
		<p class="text-left lead">
			Registration will be closed at that time, and students should contact the Registrar, hkeegan@sdsw.org to open the Course Registration portal. Students may access and modify their course requests until Friday, April 4th.
		</p>
		<p class="text-left lead">
			Only students who have already reenrolled for next year will have access to Course Registration. Please contact the Admissions Office, bgilman@sdsw.org to finalize reenrollment.
		</p>
		<p class="text-left lead">
			Students MUST follow the recommendations that are listed under each Department heading. You may NOT sign up for an Honors or AP course without a recommendation. To appeal a recommendation, submit an Appeal Form, online, by
		</p>
		<br/>
		<br/>
		<h1><p class="text-center">Friday, April 11th</p></h1>
		<br/>
		<br/>
		<p class="text-center lead">The appeals process will be closed at that time.</p>
		<br/>
		<br/>
		<p class="text-left lead">Refer to the Curriculum Guide, for course descriptions, prerequisites, and other matters of policy.</p>
		<br/>
		<br/>
		<p class="text-left lead">While every effort is made to honor student preferences, all courses are offered contingent on the availability of faculty, and a minimum number of students. The list of courses offered is tentative, and the school reserves the right to modify this list where necessary. </p>